<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>About Our Diagnostic Center</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<style>
  body{
  background-image: url("/img/hosp.jpg");
  background-size: cover;
 
  }
  </style>
</head>
<body>
<div class="abc">



<h1>About Us</h1>
<p>Health Care Diagnostic Center Limited (Formerly known as Health Care Diagnostic Center Private Limited)
is India’s largest comprehensive diagnostic network with over 90 state-of-the-art
centers spread across 15 cities.Health Care Diagnostic Center has a qualified team of over
2200 professionals consisting of some of the country’s top radiologists, pathologists
and healthcare professionals. This has enabled oriented diagnostic services that help us
in establishing trust and reliability with our patients.</p>
<br>
<hr>
<h1>Our Story</h1>
<p>With a vision of providing comprehensive,
innovative and state-of-the-art diagnostic services under one roof,
in a reliable, affordable and customer-centric manner,
Dr.S.Vikram Singh founded Health Care Diagnostic Center in 1982. In the past 4 decades,Health Care Diagnostic Center has constantly worked towards providing excellent quality throughout all its centers and has been the pioneer in using the latest technological trends to deliver best-in-class health care to its patients. Today, Health Care Diagnostic Center has expanded to over 63 Centers in Delhi, in addition to other branches in Sangareddy, Warangal, Hanmakonda, Karimnagar, Nizamabad, Kurnool, Nellore, Visakhapatnam, Kolkata and Gurgaon.
</p>
<br>
<hr>
<h1>Our Mission</h1>
<p>
Our Mission is to make the patient’s medical journey faster,
more transparent and more accurate. We are committed to deliver
exceptional diagnostic solutions to every patient and physician.
</p>
<br>
<hr>
<h1 >Our Vision</h1>
<p>
Our Vision is to provide reliable and accurate diagnostic
services to our customers, at affordable prices, in a
customer-centric manner. We strive to provide the best
service possible. We are continually raising our own bar
through the latest technology, continuous improvement and recruitment
of high calibre technicians and professional.
</p>
<br>
<hr>
<h1>Milestones</h1>
<br>
<!-- <img th:src="@{img/AboutUs.jpg}" class="center" width="1000px"> -->
</div>
</body>
</html>