<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="col-md-5"></div>
<div class="col-md-4">
<form th:action="@{/stddata}" method="post" class="form-group" >
<label>id</label>
<input type="number" name="admin" th:field="${admin.id}" class="form-control" required>
<label>userName</label>
<input type="text" name="user5" th:field="${admin.username}" class="form-control" required>
<label>password</label>
<input type="password" name="user4" th:field="${admin.password}" class="form-control" required>
<label>address</label>
<input type="text" name="user3" th:field="${admin.address}" class="form-control" required>
<label>mobile No</label>
<input type="number" name="user2" th:field="${admin.mobileNo}" class="form-control" required>

<label>Role</label>
<input type="text" name="admin" th:field="${admin.role}" class="form-control" required>

<label>Email</label>
<input type="email" name="user1" th:field="${admin.email}" class="from-control" required><br><br>
<input type="submit" value="submit" class="btn btn-success">
<input type="reset" value="cancle" class="btn btn-danger">





</form>
</div>

</body>
</html>